html{
    font-size: 16px;
    
}
body{
    font-family: 'Raleway',sans-serif;
    font-family: 16px;
    font-weight: 400;
    color: #000;
    min-width: 320px;
   
}
img{
    max-width: 100%;
    height: auto;
}
section{
    padding: 50px 0;
}
a{
    color: #000;
}
.list{
    list-style: none;
}
.hero{
    background-color: #CDD5E4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
}
.hero-img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .about-border {
    position: relative;
    border: 1px solid #000000;
    width: 251px;
    height: 251px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-img {
    border: 1px solid #000000;
    border-radius: 10px;
    position: absolute;
    top: 14px;
    left:14px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-author{
    padding-bottom: 90px;
  }
  .about-author_container {
    position: relative;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  align-self:center;
  }
  
  .block {
    box-sising: border-box;
    width:80%;
    height: 80px;
      padding-left: 101px;


  }
  
  .block:before {
    display: block;
    content: '';
    height: 30px;
    width: 85%;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
  }
  
  .block:after {
    display: block;
    content: '';
    width: 102px;
    height: 30px;
    margin-left: -101px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-border-radius: 0 0 100px 0;
    -moz-border-radius: 0 0 20px 0;
    border-radius: 0 0 20px 0;
  }
  
  .oval {
    position: inherit;
    top: 87px;
    left: 146px;
    width: 110px;
    height: 60px;
    background: transparent;
    border-radius: 100px/50px;
    border: 1px solid #000000;
    transform: skew(0, -11deg);
  }
  .text-oval {
    font-weight: 100;
    transform: skew(0, 11deg);
    font-size: small;
    position: inherit;
    top: 23px;
    left: -2px;
  }
  .sphere {
    position: absolute;
    top: 25px;
    left: 165px;
    width: 70px;
    height: 70px;
    background: #DC2F02;
    border-radius: 50%;
  }
  .text-spere {
    position: inherit;
    top: 25px;
    left: 12px;
    font-size:smaller;
  }
  
  .oval2 {
    position: absolute;
    top: 146px;
    left: 19px;
    width: 110px;
    height: 60px;
    background: transparent;
    border-radius: 100px/50px;
    border: 1px solid #000000;
    transform: skew(0, -11deg);
  }
  .text-oval2 {
    font-weight: 100;
    transform: skew(0, 11deg);
    font-size: small;
    position: inherit;
    top: 23px;
    left: -2px;
  }
  .sphere2 {
    position: absolute;
    top: 85px;
    left: 35px;
    width: 70px;
    height: 70px;
    background: #DC2F02;
    border-radius: 50%;
  }
  .text-spere2 {
    position: inherit;
    top: 25px;
    left: 12px;
    font-size:smaller;
  }
  .block2 {
    width:80%;
    height: 80px;
      padding-left: 101px;

  }
  
  .block2:before {
    display: block;
    content: '';
    height: 30px;
    width: 85%;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
  }
  
  .block2:after {
    display: block;
    content: '';
    width: 102px;
    height: 30px;
    margin-left: -101px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-border-radius: 0 0 100px 0;
    -moz-border-radius: 0 0 20px 0;
    border-radius: 0 0 20px 0;
  }
  .oval3 {
    position: inherit;
    top: 163px;
    left: 146px;
    width: 110px;
    height: 60px;
    background: transparent;
    border-radius: 100px/50px;
    border: 1px solid #000000;
    transform: skew(0, -11deg);
  }
  .text-oval3 {
    font-weight: 100;
    transform: skew(0, 11deg);
    font-size: small;
    position: inherit;
    top: 23px;
    left: -2px;
  }
  .sphere3 {
    position: absolute;
    top: 164px;
    left: 165px;
    width: 70px;
    height: 70px;
    background: #DC2F02;
    border-radius: 50%;
  }
  .text-spere3 {
    position: inherit;
   
    top: 25px;
    left: 12px;
    font-size:smaller;
  }
  .oval4 {
    position: inherit;
    top: 161px;
    left: 19px;
    width: 110px;
    height: 60px;
    background: transparent;
    border-radius: 100px/50px;
    border: 1px solid #000000;
    transform: skew(0, -11deg);
  }
  .text-oval4 {
    font-weight: 100;
    transform: skew(0, 11deg);
    font-size: small;
    position: inherit;
    top: 23px;
    left: -2px;
  }
  .sphere4 {
    position: absolute;
    top: 222px;
    left: 35px;
    width: 70px;
    height: 70px;
    background: #DC2F02;
    border-radius: 50%;
  }
  .text-spere4 {
    position: inherit;
    top: 25px;
    left: 12px;
    font-size:smaller;
  }
  .servises_container-img{
    position: relative;
    width: 265px;
    height: 180px;
    border-radius: 10px;
    border: 2px solid #000000;
    margin-left: auto;
    margin-right: auto;
  }
  .serveses_img{
    border: 1px solid #000000;
    border-radius: 10px;
    position: absolute;
    top: -12px;
    left: -17px;
    margin-left: auto;
    margin-right: auto;
  }

  .img-contacts-container{
    width: 250px;
    height: 248px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 1px solid #000000;
padding-left:10px;
padding-top: 5px;
  }
  .img-contacts{
    width: 250px;
    border: 1px solid #000000;
    border-radius: 10px;
    position: absolute;
    top: 175px;
    left: -17px;
  }